@tailwind base;
@tailwind components;
@tailwind utilities;


.dots-custom{
    position: absolute;
    bottom: 8%;
    left: 10%;
    display: flex !important;
    justify-content: center;
    gap: 1rem;
}

.dots-custom li{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    padding: 7px;
}

.dots-custom li.slick-active{
    background: #3455fc;
}



.dots-custom li button{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #3455fc;
    color: transparent;
}

.dots-custom li.slick-active button{
    background: white;
    color: transparent;
}
